<!DOCTYPE html>
<html lang="en">


    <head>
        <title> The Solar System </title>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" />
        
    </head>
    
    <body>
        <h1> Welcome to the Solar System Site! </h1>
        <h4>Click on a planet to know more about it:</h4>
        
        <nav class="navbar navbar-dark bg-primary justify-content-center" >
        <a class="navbar-brand nav-link <%= page_name == 'home' ? 'active' : '' %>" href="/">Home</a>
        <a class="navbar-brand nav-link <%= page_name == 'mercury' ? 'active' : '' %>" href="/mercury">Mercury</a>
        <a class="navbar-brand nav-link <%= page_name == 'venus' ? 'active' : '' %>" href="/venus">Venus</a>
        <a class="navbar-brand nav-link <%= page_name == 'earth' ? 'active' : '' %>" href="/earth">Earth</a>
        <a class="navbar-brand nav-link <%= page_name == 'mars' ? 'active' : '' %>" href="/mars">Mars</a>
        </nav>